
@using EntityLayer.Concrete
@model Product

@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_DefultLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h1>Ürün Güncelleme</h1>
                <form method="post">
                    <input type="hidden" asp-for="ProductId" />
                    <label>Ürün Adı</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <br />

                    <label>Açıklama</label>
                    <input type="text" asp-for="Description" class="form-control" />
                    <input type="hidden" asp-for="CreateDate" class="form-control" />
                    <label>Kategori</label>
                    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })                    

                    <br />
                    <button class="btn btn-success">Güncelle</button>
                </form>

            </div>
        </div>
    </div>
</div>
